@using Models;
@model IEnumerable<Group>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <center>
            <h2>مدیریت گروه ها</h2>
        </center>
    </div>
</div>
<!-- /. ROW  -->
<hr />
@using (Html.BeginForm("AddGroup", "Group", FormMethod.Post, new { id = "groupForm" }))
{

    <div class=" col-lg-6">
        <div style="text-align:right">

            <label>نام گروه</label>
            <input type="text" class="form-control" name="Name" id="Name" required style="direction:rtl;" /><br />
            <button class="btn btn-success" id="btnAdd">افزودن گروه</button>
            <button class="btn btn-primary" id="btnEdit">ثبت ویرایش</button>
            <button class="btn btn-danger" id="btnDelete">&nbsp;&nbsp;حذف گروه&nbsp;&nbsp;</button>
            <br />
            <br />
        </div>
    </div>

    <div class="col-lg-6">
        @Html.Partial("_GroupList", Model,new ViewDataDictionary { { "id", "targetId" }, { "name", "targetId" } })
    </div>
}
@section scripts{
    <script type="text/javascript">
        function SettargetId(me) {
            if (me.value != "") {
                var txt=me.options[me.selectedIndex].text.trim()
                document.getElementById("Name").value=txt.substring(0,txt.length-2)
            }

        }
        $(function () {
            $("#btnAdd").click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: "/Group/AddGroup",
                    data: $("#groupForm").serialize(),
                    type: "Post",
                    success: function (result) {
                        $("#divGroupList").html(result);
                    },
                    error: function () {
                        alert("خطا!");
                    }
                });

            });
            $("#btnDelete").click(function (e) {
                e.preventDefault();
                if ($("#targetId").find(":selected").length > 0) {
                    $.ajax({
                        url: "/Group/DeleteGroup",
                        data: { id: $("#targetId").find(":selected").val() },
                        type: "Post",
                        success: function (result) {
                            $("#divGroupList").html(result);
                        },
                        error: function () {
                            alert("خطا!");
                        }
                    });
                }
                else {
                    alert("ابتدا گروه را انتخاب کنید");
                }
            });
            $("#btnEdit").click(function (e) {
                e.preventDefault();
                if ($("#targetId").find(":selected").length > 0) {
                    $.ajax({
                        url: "/Group/EditGroup",
                        data: {
                            Id: $("#targetId").find(":selected").val(),
                            Name: $("#Name").val(),
                            ParentId: $("#targetId").find(":selected").attr("parentid")
                        },
                        type: "Post",
                        success: function (result) {
                            $("#divGroupList").html(result);
                        },
                        error: function () {
                            alert("خطا!");
                        }
                    });
                }
                else {
                    alert("ابتدا گروه را انتخاب کنید");
                }
            });
        });
    </script>
}