<fieldset>
    @using (Html.BeginForm("CreateBanner", "Value", FormMethod.Post, new { id = "frm", enctype = "multipart/form-data" }))
    {
        <input type="hidden" value="@ViewBag.name" name="Name" />

        <div class="col-md-12 form-group">
            <div class="col-md-3"><label>لینک بنر</label></div>
            <div class="col-md-9">
                <input type="text" name="Content" value="" autocomplete="off" class="form-control" />
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="col-md-3"><label>توضیحات</label></div>
            <div class="col-md-9">
                @Html.TextArea("Description",htmlAttributes: new {  @class="form-control"})
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="col-md-3"><label>عکس بنر</label></div>
            <div class="col-md-9">
                <input onchange="readURL(this)" name="file" type="file" class="form-control" id="imageFile" />
            </div>
        </div>
        <div class="col-md-12 form-group" style="text-align:center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <img style="max-width:100%;max-height:200px;border:solid 1px silver" id="output" />
            </div>
            <div class="col-md-2"></div>

        </div>
        <div class="col-md-12 form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <div class="col-md-6 form-group">
                    <button class="btn btn-success w-md">ذخیره</button>
                </div>
                <div class="col-md-6 form-group">
                    <button class="btn btn-danger w-md" data-dismiss="modal">انصراف</button>
                </div>
            </div>
        </div>
    }
</fieldset>
