@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles {
}
@section Scripts {
}
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4>عکس بنر</h4>
                    <p class="card-description">. در صورت تمایل یک توضیح مختصر و کوتاه جهت نمایش به کاربران درباره محصول اضافه کنید </p>
                    <div class=" clearfix" style="margin:5px;"></div>
                    <div class="col-md-12">
                        <input id="upload" style="display:none;" type="file" name="image" value="" />
                        <input type="file" class="form-control" />
                    </div>

                    <div class=" clearfix" style="margin:20px;"></div>
                    <div class="col-md-12">
                        <button class="btn btn-success pull-right">ثبت محصول</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
